@using Blazored.Toast.Configuration
@inject Services.IAuthenticationService AuthenticationService
@inherits LayoutComponentBase
@inject NavigationManager _navManager

@if (_navManager.Uri.Contains("login") || _navManager.Uri.Contains("create-account"))
{
    <div style="background-color: #00b0ff">
        <MatThemeProvider Theme="@theme">
            @Body
        </MatThemeProvider>
    </div>
    <MatToastContainer />
}
else
{
    <MatThemeProvider Theme="@theme">
        <div class="page">
            <MatAppBarContainer>
                <MatAppBar Fixed="true">
                    <MatAppBarRow>
                        <MatAppBarSection>
                            <MatIconButton Icon="menu" OnClick="@((e) => ButtonClicked())"></MatIconButton>
                            <MatAppBarTitle>Lingvo - Learn languages </MatAppBarTitle>
                        </MatAppBarSection>
                        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                        </MatAppBarSection>
                    </MatAppBarRow>
                </MatAppBar>

                <MatAppBarContent>

                    <MatDrawerContainer Style="height: 100vh;" Mode="@MatDrawerMode.Dismissible">
                        <MatDrawer @bind-Opened="@Opened">
                            <MatNavMenu>
                                <MatNavItem Title="Home" Href="/">
                                    <MatIcon Icon="home"></MatIcon> Home
                                </MatNavItem>

                                 <MatNavItem Title="Lessons" Href="/lessons">
                                    <MatIcon Icon="folder"></MatIcon> Lessons
                                </MatNavItem>

                                <MatNavItem Title="Profile" Href="/profile">
                                    <MatIcon Icon="account_circle"></MatIcon> Profile
                                </MatNavItem>

                                  <MatNavItem Title="Profile" Href="/logout">
                                    <MatIcon Icon="exit_to_app"></MatIcon> Logout
                                </MatNavItem>
                            </MatNavMenu>
                        </MatDrawer>
                        <MatDrawerContent Style="display: flex;">
                            @Body
                        </MatDrawerContent>
                    </MatDrawerContainer>
                </MatAppBarContent>
            </MatAppBarContainer>
        </div>
    </MatThemeProvider>

    <MatToastContainer />
}

@code {
    private async Task Logout()
    {
        await AuthenticationService.Logout();
    }

    bool Opened = false;

    void ButtonClicked()
    {
        Opened = !Opened;
    }

    MatTheme theme = new MatTheme()
        {
            Primary = "#00b0ff",
            Secondary = "#40c4ff"
        };
}




